<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" class="form">
    <div class="form-group">
        <label>Link to Job Posting
            <input th:field="${job.jobDetails.link}" class="form-control">
        </label>
        <p class="error" th:errors="${job.jobDetails.link}"></p>
    </div>

    <div class="form-group">
        <label>Job Title
            <input th:field="${job.jobTitle}" class="form-control">
        </label>
        <p class="error" th:errors="${job.jobTitle}"></p>
    </div>

    <div class="form-group">
        <label>Employer
            <input th:field="${job.jobDetails.employer}" class="form-control">
        </label>
        <p class="error" th:errors="${job.jobDetails.employer}"></p>
    </div>

    <div class="form-group">
        <label>Contact Name
            <input th:field="${job.jobDetails.contactName}" class="form-control">
        </label>
        <p class="error" th:errors="${job.jobDetails.contactName}"></p>
    </div>

    <div class="form-group">
        <label>Contact Email
            <input th:field="${job.jobDetails.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${job.jobDetails.contactEmail}"></p>
    </div>

    <div class="form-group">
        <label>Notes
            <input th:field="${job.jobDetails.notes}" class="form-control">
        </label>
        <p class="error" th:errors="${job.jobDetails.notes}"></p>
    </div>

    <div class="form-group">
        <label>Status
            <select th:field="${job.jobDetails.applicationStatus}" class="form-control">
                <option th:each="status : ${statuses}"
                        th:value="${status}"
                        th:text="${status.displayName}"></option>
            </select>
        </label>
        <p class="error" th:errors="${job.jobDetails.applicationStatus}"></p>
    </div>
    <input type="submit" value="Create" class="btn btn-success">
</form>

</body>
</html>