<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">

    <th:block th:each="job : ${jobs}">
        <div class="form-group">
            <label>
                <input type="checkbox" name="jobIds" th:value="${job.id}">
                <span th:text="${job.jobTitle} + ' at ' + ${job.jobDetails.employer}"></span>
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>
</body>
</html>