<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped table-bordered" style="width: 100%">
    <thead>
    <tr>
        <th>Link</th>
        <th>Job Title</th>
        <th>Employer</th>
        <th>Email</th>
        <th>Status</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tr th:each="job : ${jobs}">
        <td><a th:href="${job.jobDetails.link}">Link</a></td>
        <td th:text="${job.jobTitle}"></td>
        <td th:text="${job.jobDetails.employer}"></td>
        <td th:text="${job.jobDetails.companyEmail}"></td>
        <td th:text="${job.jobDetails.applicationStatus.displayName}"></td>
        <td th:text="${job.jobDetails.notes}"></td>
    </tr>
</table>

</body>
</html>