<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Job Applications</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:fragment="header">
    <h1 th:text="${title}">Job Applications</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/jobs">All Jobs</a></li>
        <li class="nav-item"><a class="nav-link" href="/jobs/create">Add Job</a></li>
        <li class="nav-item"><a class="nav-link" href="/jobs/delete">Delete Job</a></li>
        <li class="nav-item"><a class="nav-link" href="/contacts">Network Contacts</a></li>
        <li class="nav-item"><a class="nav-link" href="/contacts/create">Add a Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="https://docs.google.com/document/d/1JLqG_fnCziaOqUsyPeIthoHopySHWHaNL5qmy0n8tF8/edit#heading=h.5rf9wr4r3no2">Resume</a></li>
    </ul>
</nav>

</body>
</html>